.hero-bg-h {
  height: 100vh;
  width: 100vw;
  background: rgb(40, 203, 204);
  background: linear-gradient(
    45deg,
    rgba(40, 203, 204, 1) 0%,
    rgba(255, 24, 191, 1) 50%,
    rgba(255, 222, 50, 1) 100%
  );
}

.hero-bg img {
  height: 70vh;
  width: auto;
}
