/*.nav-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.name {
  display: flex;
  justify-self: start;
  align-self: center;
  margin-left: 1rem;
}

.nav-menu {
  display: flex;
}

.nav-item {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-right: 1rem;
}

.nav-links {
  display: block;
}*/

/*@media (max-width: 640px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    top: 60px;
    height: 50vh;
    position: absolute;
    background: blue;
    transition: all 0.5s ease;
  }
}*/
