@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgba(44, 51, 59, 1);
  background-repeat: no-repeat;
  font-family: 'Rubik', sans-serif;
}

.spacing {
  margin-top: 32rem;
}

.color-y {
  color: #ffbd53;
}

h1 {
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: transparent;
  font-size: 64px;
  font-family: 'Rubik Mono One', sans-serif;
  letter-spacing: 8px;
  word-spacing: -16px;
}

h2 {
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  font-size: 36px;
  letter-spacing: 2px;
  color: white;
}

h3 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: white;
}

h4 {
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  font-size: 28px;
  color: white;
}

p {
  font-family: 'Rubik', sans-serif;
  font-weight: 200;
  font-size: 16px;
  color: white;
}

.logo {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  letter-spacing: 3px;
  color: white;
}

.logo:hover {
  color: #ffbd53;
}

.shadow {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.btn {
  background-color: #e14e56;
  padding: 1rem 2rem 1rem 2rem;
  max-width: max-content;
  box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.3);
}

.bg-primary {
  background-color: rgba(53, 66, 73, 0.8);
  backdrop-filter: blur(10px);
  transition: top 0.6s;
}

.card-size {
  width: 1200px;
  height: 800px;
}

.bg-nazzle {
  background: rgb(250, 161, 60);
  background: linear-gradient(
    45deg,
    rgba(250, 161, 60, 1) 0%,
    rgba(252, 189, 119, 1) 100%
  );
}
.bg-storyline {
  background: rgb(252, 198, 18);
  background: linear-gradient(
    45deg,
    rgba(252, 198, 18, 1) 0%,
    rgba(253, 215, 89, 1) 100%
  );
}

.bg-smartdress {
  background: rgb(255, 111, 97);
  background: linear-gradient(
    45deg,
    rgba(255, 111, 97, 1) 0%,
    rgba(255, 140, 129, 1) 100%
  );
}

.bg-hel {
  background: rgb(40, 203, 204);
  background: linear-gradient(
    45deg,
    rgba(40, 203, 204, 1) 0%,
    rgba(255, 24, 191, 1) 50%,
    rgba(255, 222, 50, 1) 100%
  );
}

.line {
  display: table;
  white-space: nowrap;
}
.line:after {
  border-top: 1px solid white;
  content: '';
  display: table-cell;
  position: relative;
  top: 1em;
  left: 0.5em;
  width: 30%;
}

.line-vert {
  display: flex;
}
.line-vert:after {
  content: '';
  display: table;
  height: 100px;
  width: 1px;
  background-color: white;
  margin-left: 12px;
}

.link {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  white-space: nowrap;
  color: white;
}

.link::before,
.link::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background: currentColor;
  top: 100%;
  left: 0;
  pointer-events: none;
}

.link::before {
  content: '';
  /* show by default */
}

.active {
  border-bottom: 1px solid #ffbd53;
  color: #ffbd53;
}

.nav-link {
}

.nav-link::before {
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s;
}

.nav-link:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}

.nav-enter {
  opacity: 0;
}

.nav-enter.active {
  opacity: 1;

  transition: all 0.5s ease-in-out;
}

.nav-exit {
  opacity: 1;
}

.nav-exit.active {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.scroll-ani {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

.bounce {
  animation-name: bounce;
  animation-timing-function: ease;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.btn-2 {
  background: #ffbd53;
  color: #2c333b;
  cursor: pointer;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  font-size: 16px;
  padding: 22px 30px 18px 30px;
  border: 0;
  transition: all 0.5s;
  border-radius: 5px;
  width: auto;
  position: relative;
  min-width: 280px;
}
.btn-2::after {
  content: url(./assets/linkedin_grey.svg);
  font-size: 16px;
  position: absolute;
  left: 80%;
  top: 54%;
  right: 0;
  bottom: 0;
  opacity: 0;
  transform: translate(-30%, -50%);
}
.btn-2:hover {
  transition: all 0.5s;
  border-radius: 5px;
  box-shadow: 0px 8px 16px rgba(34, 32, 32, 0.8);
  padding: 22px 50px 18px 30px;
  color: #2c333b;
}
.btn-2:hover::after {
  opacity: 1;
  transition: all 0.5s;
  color: #2c333b;
}

.btn-2:focus {
  outline: none;
}

.btn-2:focus::after {
  outline: none;
}

.btn-3 {
  background: #ffbd53;
  color: #2c333b;
  cursor: pointer;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  font-size: 16px;
  padding: 22px 30px 18px 30px;
  border: 0;
  transition: all 0.5s;
  border-radius: 5px;
  width: auto;
  position: relative;
  min-width: 280px;
}
.btn-3::after {
  content: url(./assets/mail_grey.svg);
  font-size: 16px;
  position: absolute;
  left: 80%;
  top: 55%;
  right: 0;
  bottom: 0;
  opacity: 0;
  transform: translate(-15%, -50%);
}
.btn-3:hover {
  transition: all 0.5s;
  border-radius: 5px;
  box-shadow: 0px 8px 16px rgba(34, 32, 32, 0.8);
  padding: 22px 50px 18px 30px;
  color: #2c333b;
}
.btn-3:hover::after {
  opacity: 1;
  transition: all 0.5s;
  color: #2c333b;
}

.btn-3:focus {
  outline: none;
}

.btn-3:focus::after {
  outline: none;
}

.btn-4 {
  background: white;
  color: #2c333b;
  cursor: pointer;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  font-size: 16px;
  padding: 22px 30px 18px 30px;
  border: 0;
  transition: all 0.2s;
  border-radius: 5px;
  position: relative;
  width: 200px;
}
.btn-4::after {
  content: url(./assets/arrow.svg);
  font-size: 16px;
  position: absolute;
  left: 80%;
  top: 56%;
  right: 0;
  bottom: 0;
  opacity: 0;
  transform: translate(-15%, -50%);
}
.btn-4:hover {
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
  box-shadow: 0px 8px 16px rgba(34, 32, 32, 0.2);
  padding: 22px 50px 18px 30px;
  color: #2c333b;
}
.btn-4:hover::after {
  opacity: 1;
  transition: all 0.2s ease-in-out;
  color: #2c333b;
}

.btn-4:focus {
  outline: none;
}

.btn-4:focus::after {
  outline: none;
}

.card-grow {
  transition: all 0.2s ease-in-out;
}

.card-grow:hover {
  transform: scale(1.02);
}

#i-mail {
  stroke: white;
}

#i-mail:hover {
  content: url(./assets/mail_yellow.svg);
}

#i-linked {
  stroke: white;
}

#i-linked:hover {
  content: url(./assets/linkedin_yellow.svg);
}

.img-change {
  content: url(./assets/aboutimg.jpg);
  transition: all 0.5s ease-in-out;
}

.img-change:hover {
  content: url(./assets/aboutimg2.jpg);
  transform: scale(1.02);
  transition: all 0.5s ease-in-out;
}
